.beforeyourfly-content{
    background-image: url('../images/before/bg.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;

    h1{
        color:#fff;
        font-family: "Ocean Sans Std",ocean_sans_stdbook;
    }
    .form-dropdown{
        margin-top: 45px;
        margin-bottom: 40px;
    }
    .before-list{
        .before-group{
            margin-bottom: 15px;
            position: relative;
            .focuspoint{
                height:200px;
            }
            .title{
                color: #fff;
                font-size: 1.125em;
                text-shadow: 2px 2px 2px #000;
                position: absolute;
                top:0;
                padding: 5px 15px;
            }
            .caption{
                @include calc( width, '100% - 30px');
                bottom: 0;
                position: absolute;
                padding: 15px;
                p{
                    color: #fff;
                    margin: 0;
                    &.topic{
                        font-size: 1.125em;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                    &.date{
                        font-size: 0.75em;
                        font-style: italic;
                        a{
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
                &.general{
                    background: rgb(101, 55, 150); /* The Fallback */
                    /*background: rgba(101, 55, 150, 1); */
                }
                &.travel{
                    background: rgb(255, 196, 47); /* The Fallback */
                    /*background: rgba(255, 196, 47, 1); */
                }
                &.special{
                    background: rgb(196 , 33 , 139 ); /* The Fallback */
                    /*background: rgba(196 , 33 , 139 , 1); */
                }
            }
        }
    }

}
.beforeyourfly-breadcrumb{
    margin: 20px 0 40px;
    padding: 10px 0;
    a.back{
        padding: 10px;
        background-color: #dddddd;
        color: #d50581;
        -webkit-box-shadow: inset 0px 0px 5px 1px rgba(153,153,153,0.5);
        -moz-box-shadow: inset 0px 0px 5px 1px rgba(153,153,153,0.5);
        box-shadow: inset 0px 0px 5px 1px rgba(153,153,153,0.5);
        text-decoration: none;
    }
    span{
        padding: 10px;
    }
}
.beforeyourfly-cover{
    height:150px;
}
.beforeyourfly-detail{
    .article{
        h1,h2{
            margin: 0;
            font-family: "Ocean Sans Std",ocean_sans_stdbook;
        }
        h1{
            font-size:2.5em;
        }
        h2{
            font-size:1.375em;
            color: #653796;
        }
        section{
            margin: 40px 0;
            .pull-left{
                margin-right: 40px;
                margin-bottom: 40px;
            }
            .pull-right{
                margin-left: 40px;
                margin-bottom: 40px;
            }
        }
    }
}
@media (max-width: 991px) and (min-width: 768px)  {
    .beforeyourfly-content{
        .before-list{
            .before-group{
                .caption{
                    p{
                        &.topic{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 479px) {
    .col-xs-6{
        width:100%;
    }
}