.socialteam-breadcrumb{
    margin: 20px 0 40px;
    padding: 10px 0;
    a.back{
        padding: 10px;
        background-color: #dddddd;
        color: #d50581;
        -webkit-box-shadow: inset 0px 0px 5px 1px rgba(153,153,153,0.5);
        -moz-box-shadow: inset 0px 0px 5px 1px rgba(153,153,153,0.5);
        box-shadow: inset 0px 0px 5px 1px rgba(153,153,153,0.5);
        text-decoration: none;
    }
    span{
        padding: 10px;
    }
}
.socialteam-detail{
    .article{
        h1,h2{
            margin: 0;
            font-family: "Ocean Sans Std",ocean_sans_stdbook;
        }
        h1{
            font-size:2.5em;
        }
        h2{
            font-size:1.375em;
            color: #653796;
        }
    }
}
#canvas-page{
    margin: 0 -15px;
}