.home-content{
    background-image:url('../images/home/bg.jpg');
    background-size:cover;
    background-position:center;
    padding-top:65px;
    padding-bottom:65px;
    .row{
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
            padding-left:5px;
            padding-right:5px;
            margin-bottom:10px;
        }
        .box-content{
            position:relative;
            .top{
                @include calc( width, '100% - 10px');
                top:0;
                position:absolute;
                height:40px;
                .category{
                    float: left;
                    font-size: 1.125em;
                    margin:10px;
                    color: #fff;
                    text-shadow: 2px 2px 2px #000;
                }
                .tag{
                    color: #3d1d68;
                    background-color: #f4d90e;
                    font-size: 0.75em;
                    padding: 5px 10px;
                    margin:10px;
                    float: right;
                    &.hightlight{
                        color: #fff;
                        background-color: #c71688 ;
                    }
                }
            }
            .bottom{
                @include calc( width, '100% - 10px');
                bottom:0;
                position:absolute;
                height:85px;
                background-color:rgba(35, 31, 32, 0.7);
                h1{
                    font-size:1.25em;
                    color:#fff;
                    margin:10px 20px 5px;
                }
                h3{
                    font-size:0.875em;
                    color:#c59aef;
                    margin:5px 20px;
                }
                a.readmore{
                    font-size:0.875em;
                    color:#c71688;
                    font-style:italic;
                    margin:5px 20px;
                }
            }
            .right{
                width:33%;
                position: absolute;
                height:100%;
                top:0;
                right:0;

                .tag{
                    float: left;
                    color: #fff;
                    background-color: #c71688 ;
                    font-size: 0.75em;
                    padding: 5px 10px;
                    margin:10px 20px;
                }
                h1{
                    font-size:1.25em;
                    color:#f4d90d ;
                    margin:10px 20px 5px;
                }
                h3{
                    font-size:0.875em;
                    color:#c59aef;
                    margin:5px 20px;
                }
                p{
                    font-size:0.875em;  
                    margin:5px 20px;
                    color: #fff;
                    a.readmore{
                        color:#c71688;
                        font-style:italic;
                    }
                }
            }
        }
    }
}

.footer-content{
    background-image:url('../images/footer/bg.jpg');
    background-position:center;
    p{
        margin:0;
    }
}
@media (max-width: 1199px) {
    .home-content{
        .row{
            .box-content{
                h1{
                    font-size:1em;
                }

                .bottom{
                    h1{
                        font-size:1em;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .home-content{ 
        .row {
            .box-content{ 
                .right{
                    width: calc(100% - 10px);
                    height: auto;
                    bottom: 0;
                    top: inherit;
                    right:inherit;
                    background-color:rgba(35, 31, 32, 0.7);
                }
            }
        }
    }
}
@media (max-width: 479px) {
    .home-content .row .box-content {
        .top .category{
            font-size:0.85em;
        }
        .bottom {
            height: 60px;
            h1{
                font-size:0.85em;
            }
            h3{
                display: none;
            }
            p{
                font-size:0.75em;
            }
        }
    }
}