.entertainment-content{
    padding: 30px 0;
    h1{
        color:#bf0278;
        font-size: 34px;
        font-family: "Ocean Sans Std",ocean_sans_stdbook;
    }
}
.sawasdee-content{
    .royal,.fortnightly{
        padding: 0;
        padding-top: 20px;
        background-image: url('../images/media/sawasdee/royal-bg.jpg');
        background-size: cover;
        background-position: center;
        .royal-book{
            margin-top:30px;
            background-image: url('../images/media/sawasdee/shelf.png');
            background-position: center bottom;
            background-repeat: no-repeat;
            padding-bottom: 65px;
        }
    }
    .fortnightly{
        background-image: url('../images/media/sawasdee/bg.jpg');
        .fortnightly-book{
            margin-top:30px;
            background-image: url('../images/media/sawasdee/shelf.png');
            background-position: center bottom;
            background-repeat: no-repeat;
            padding-bottom: 68px;
        }
    }
    h1{
        color:#663398;
        font-size: 34px;
        font-family: "Ocean Sans Std",ocean_sans_stdbook;
        font-weight: bold;
    }
}
@media (max-width: 479px) { }
@media (max-width: 767px) { 
    .sawasdee-content{
        .royal{
            .royal-book{
                background-image:none;
                padding-bottom: 0;
                margin-top: 0;
                .book{
                    margin-bottom: 20px;
                }
            }
        }
        .fortnightly{
            .fortnightly-book{
                background-image:none;
                padding-bottom: 0;
                margin-top: 0;
                .book{
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sawasdee-content{
        .royal{
            .royal-book{
                background-image: url('../images/media/sawasdee/shelf-750.png');
            }
        }
        .fortnightly{
            .fortnightly-book{
                background-image: url('../images/media/sawasdee/shelf-750.png');
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sawasdee-content{
        .royal{
            .royal-book{
                background-image: url('../images/media/sawasdee/shelf-970.png');
            }
        }
        .fortnightly{
            .fortnightly-book{
                background-image: url('../images/media/sawasdee/shelf-970.png');
            }
        }
    }
}
@media (min-width: 1200px) { }