.shareexperience-content{
    background-image: url('../images/share/bg-1.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 50px;
    h1{
        color:#fff;
        font-family: "Ocean Sans Std",ocean_sans_stdbook;
    }
    .list-group{
        >div{
            font-family: "Ocean Sans Std",ocean_sans_stdbook;
            padding: 0;
            position: relative;
            >img{
                width: 100%;
            }
            >.mask{
                background-color: #000;
                opacity: 0.5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
            }
            >.list-content{
                position: absolute;
                margin-top: 140px;
                padding-left: 30px;
                padding-right: 30px;
                top:0;
                color: #fff;
                p{
                    line-height: 1em;
                    margin: 0;
                }
                .country{
                    font-size: 2.375em;
                }
                .province{
                    font-size: 1.75em;
                    line-height: 1em;
                }
                .number{
                    margin-top: 16px;
                    font-size: 5.625em;
                    line-height: 1em;
                }
                .review{
                    font-size: 0.825em;
                    line-height: 1em;
                    margin-top: -1em;
                }
                a.readmore{
                    margin-top: 45px;
                    font-size: 1em;
                    line-height: 1em;
                    color: #fff;
                    display: block;
                }
            }
        }
    }
}
.shareexperience-cover{
    height: 150px;
    h1{
        font-family: "Ocean Sans Std";
        font-weight: bold;
        color: #fff;
        margin: 0;
        margin-top:40px;
    }
    h2{
        font-family: "Ocean Sans Std";
        color: #fff;
        margin: 0;
    }
}
.shareexperience-lists{
    font-family: "Myriad Pro";
    .header-group{
        text-align: center;
        font-family: "Ocean Sans Std";
    }
    .lists{
        margin-bottom: 30px;
        .thumb{
            width: 100%;
            height: 195px;
            border: 1px solid #dcdcdc;
            border-bottom: 0;
        }
        .author{
            border: 1px solid #dcdcdc;
            border-top: 0;
            border-bottom: 0;
            background: #e4e4e4;
            height: 50px;
            line-height: 50px;
            font-size: 1.125em;
            padding:0 20px;
            .thumb{
                width: 80px;
                height: 80px;
                border: 3px solid #fff;
                position: relative;
                margin-top: -50px;
                margin-right: 10px;
            }
            .date{
                float: right;
                font-size: 0.875em;
            }
        }
        .intro{
            border: 1px solid #dcdcdc;
            border-top: 0;
            padding: 10px 20px;
            h3,p{
                font-weight: normal;
                margin:0;
            }
            h3{
                font-size: 1.25em;
                margin-bottom: 5px;
            }
        }
    }
}
.shareexperience-detail{
    background-color: #efefef;
    font-family: "Myriad Pro";
    .author-panel{
        background: #fff;
        margin-top:70px;
        padding-bottom: 10px;
        .author{
            .thumb{
                width: 80px;
                height: 80px;
                border: 3px solid #fff;
                position: relative;
                margin-top: -35px;
                margin-right: 10px;
            }
            sub.edit{
                position: relative;
                top:-20px;
                margin-left: 90px;
                bottom: inherit;
            }
        }
        .intro{
            h3{
                color:#070707;
                font-size: 1.5em;
                font-weight: normal;
                margin:0;
            }
            p{
                color: #373737;
                font-size: 1em;
                margin:0;
            }
        }
    }
    .article{
        h1{
            font-size:1.625em;
            font-weight: normal;
            margin:40px 0 20px;
        }
        .focuspoint{
            height:555px;
        }
        p{
            text-align: center;
            margin:20px 0 40px;
        }
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .shareexperience-content .list-group > div > .list-content{
        margin-top: 70px;
    }
}
@media (max-width: 1199px){
    .shareexperience-detail{
        .article{
            .focuspoint{
                height:455px;
            }
        }
    }
}
@media (max-width: 991px){
    .shareexperience-detail{
        .article{
            .focuspoint{
                height:345px;
            }
        }
    }
}
@media (max-width: 767px){
    .shareexperience-content{
        .list-group{
            >div{
                >.list-content{
                    margin-top:20px;
                    padding-left: 20px;
                    padding-right: 20px;
                    .country{
                        font-size: 1.5em;
                    }
                    .province{
                        font-size: 1em;
                        line-height: 1em;
                    }
                    .number{
                        margin-top: 16px;
                        font-size: 5em;
                        line-height: 1em;
                    }
                    .review{
                        font-size: 0.825em;
                        line-height: 1em;
                        margin-top: -1em;
                    }
                    a.readmore{
                        margin-top: 45px;
                        font-size: 0.75em;
                        line-height: 1em;
                    }
                }
            }
        }
    }
    .shareexperience-detail{
        .article{
            .focuspoint{
                height:250px;
            }
        }
    }
}
@media (max-width: 479px){
    .shareexperience-content{
        .list-group{
            >div.col-xs-3{
                width: 50%;
            }
        }
    }
    .shareexperience-detail{
        .article{
            .focuspoint{
                margin-bottom: 20px;
            }
        }
    }
}