.container-fluid{
    overflow: hidden;
}
header{
    .social-group{
        background-color:#663398;
        ul{
            margin:0;
            padding:0;
            li{
                margin:0;
                padding:0;
                display:inline-block;
                vertical-align:middle;
                color:#d7cce2;
                font-size:0.875em;
                a{
                    height:42px;
                    width:42px;
                    display:block;
                    overflow:hidden;
                    text-indent:45px;
                    &.fb-btn{
                        background-image:url('../images/header/social_01_active.png');
                        &:hover{
                            background-image:url('../images/header/social_01.png');
                        }
                    }
                    &.tw-btn{
                        background-image:url('../images/header/social_02_active.png');
                        &:hover{
                            background-image:url('../images/header/social_02.png');
                        }
                    }
                    &.yt-btn{
                        background-image:url('../images/header/social_03_active.png');
                        &:hover{
                            background-image:url('../images/header/social_03.png');
                        }
                    }
                    &.line-btn{
                        background-image:url('../images/header/social_04_active.png');
                        &:hover{
                            background-image:url('../images/header/social_04.png');
                        }
                    }
                    &.ig-btn{
                        background-image:url('../images/header/social_05_active.png');
                        &:hover{
                            background-image:url('../images/header/social_05.png');
                        }
                    }
                }
            }
        }
    }
    .nav-group{
        background-color:#e1e3e4;
        nav.navbar{
            margin-bottom: 0;
            background: none;
            border: none;
            .navbar-collapse{
                padding:0;
                ul{
                    float: right;
                    margin:0;
                    padding:0;
                    li{
                        display:block;
                        float:left;
                        border-right:1px solid #cccccc;
                        &.shareexperience{
                            ul{
                                min-width: 153px;
                            }
                        }
                        &.mediainformation{
                            ul{
                                min-width: 168px;
                            }
                        }
                        &.contactus{
                            ul{   
                                min-width: 112px;
                            }
                        }
                        &.last{
                            border-right:none;
                        }
                        a{
                            text-decoration:none;
                            padding:14px;
                            color:#000000;
                            height:60px;
                            display:table-cell;
                            vertical-align:middle;
                            &:hover{
                                background-color:#dccced;
                            }
                            &.active{
                                font-weight:bold;
                            }
                        }
                        ul.dropdown-menu{
                            margin:0;
                            li{
                                float: none;
                                border: none;
                                a{
                                    height: auto;
                                    padding: 7px 14px;
                                    width: 100%;
                                    display: block;
                                    background-color: #3f216a;
                                    color: #fff;
                                    font-size: 0.875em;
                                    &:hover,&.active{
                                        background-color:#230d44;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    .footer-sitemap{
        padding:15px 0;
        background-color:#230a44;
        .logo{
            display:block;
            padding: 10px 0;
        }
        ul{
            padding:0;
            margin:0;
            list-style:none;
            li{
                display:block;
                float:left;
                padding:5px;
                font-size:0.875em;
                a{
                    color:#fff;
                    font-weight:bold;
                }
            }
        }
        .copyright{
            padding:5px;
            font-size:0.75em;
            color:#fefefe;
            a{
                color:#c6178c;
                text-decoration:none;
            }
        }
    }

}

.footer-special{
    position: fixed;
    width: 100%;
    bottom: 3px;
    >div{
        background-color:#c6178c;
        position: absolute;
        bottom: 0;
    }
    .btn-open-footer{
        margin-top:-44px;
        &.active img{
            /* Safari */
            -webkit-transform: rotate(-180deg);

            /* Firefox */
            -moz-transform: rotate(-180deg);

            /* IE */
            -ms-transform: rotate(-180deg);

            /* Opera */
            -o-transform: rotate(-180deg);

            /* Internet Explorer */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        }
    }
    .footer-special-inner{
        padding-bottom: 15px;
        padding-top: 15px;
        >div{
            height:74px;
        }
        .print{
            position: relative;
            >span{
                position:absolute; top:50%; height:64px; margin-top:-32px;
                left: 50%;
                margin-left: -50.5px;
                img.disable{
                    opacity: 0.5;
                    filter: alpha(opacity=50);
                }
            }
        }
        .share{
            position: relative;
            border-left: 1px solid #fff;
            >span{
                position:absolute; top:50%; height:38px; margin-top:-19px;
                left: 50%;
                margin-left: -64px;
            }
        }
        .totop{
            position: relative;
            > span{
                position:absolute; top:50%; height:58px; margin-top:-29px;left:50%;margin-left: -18px;
            }
        }

        .bx-wrapper{
            .bx-prev{
                background-image: url('../images/footer/slider/arrow-left.png');
                background-position: 0 0 ;
                left:-32px;
            }
            .bx-next{
                background-image: url('../images/footer/slider/arrow-right.png');
                background-position: 0 0 ;
                right:-22px;
            }
        }
    }
}
@media (max-width: 991px) {
    header{ 
        .nav-group{ 
            .logo{
                display: table-cell;
                height: 70px;
                vertical-align: middle;
            }
            nav.navbar {
                .navbar-collapse{
                    ul{ 
                        li {
                            &.shareexperience{
                                ul{
                                    min-width: 144px;
                                }
                            }
                            &.mediainformation{
                                ul{
                                    min-width: 161px;
                                }
                            }
                            &.contactus{
                                ul{   
                                    min-width: 104px;
                                }
                            }
                            a{
                                padding: 14px 10px;
                                height:70px;
                            }

                        }
                    }
                }
            }
        }
    }
    .footer-special .footer-special-inner .share{
        > span{
            margin-left:-41px;
        }
    }
}
@media (max-width: 767px) {
    header .nav-group nav.navbar 
    {
        background: none;
        border: none;
        .navbar-header{
            position: relative;
            .navbar-toggle{
                position: absolute;
                top:50%;
                margin: 0;
                margin-top: -17px;
                right: 0;
            }
        }
        .navbar-brand{
            padding: 0;
            height: auto;
        }
        .navbar-collapse{
            ul{ 
                float: none;
                margin-bottom: 15px;
                li{
                    float: none;
                    border-right:0;
                    a{
                        height: auto;
                        width: 100%;
                        display: block;
                        span{
                            float: right;
                        }
                    }
                    &.open{
                        a{
                            background-color:#dccced;
                        }
                    }
                }
            }
        }
    }
    .footer-special .footer-special-inner .share{
        border-left:none;
    }
}
@media (max-width: 359px) {
    header .social-group ul li a{
        height:40px;
        width: 40px;
    }
}