/* line 1, _source/_template.scss */
.container-fluid {
  overflow: hidden;
}

/* line 5, _source/_template.scss */
header .social-group {
  background-color: #663398;
}
/* line 7, _source/_template.scss */
header .social-group ul {
  margin: 0;
  padding: 0;
}
/* line 10, _source/_template.scss */
header .social-group ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  color: #d7cce2;
  font-size: 0.875em;
}
/* line 17, _source/_template.scss */
header .social-group ul li a {
  height: 42px;
  width: 42px;
  display: block;
  overflow: hidden;
  text-indent: 45px;
}
/* line 23, _source/_template.scss */
header .social-group ul li a.fb-btn {
  background-image: url("../images/header/social_01_active.png");
}
/* line 25, _source/_template.scss */
header .social-group ul li a.fb-btn:hover {
  background-image: url("../images/header/social_01.png");
}
/* line 29, _source/_template.scss */
header .social-group ul li a.tw-btn {
  background-image: url("../images/header/social_02_active.png");
}
/* line 31, _source/_template.scss */
header .social-group ul li a.tw-btn:hover {
  background-image: url("../images/header/social_02.png");
}
/* line 35, _source/_template.scss */
header .social-group ul li a.yt-btn {
  background-image: url("../images/header/social_03_active.png");
}
/* line 37, _source/_template.scss */
header .social-group ul li a.yt-btn:hover {
  background-image: url("../images/header/social_03.png");
}
/* line 41, _source/_template.scss */
header .social-group ul li a.line-btn {
  background-image: url("../images/header/social_04_active.png");
}
/* line 43, _source/_template.scss */
header .social-group ul li a.line-btn:hover {
  background-image: url("../images/header/social_04.png");
}
/* line 47, _source/_template.scss */
header .social-group ul li a.ig-btn {
  background-image: url("../images/header/social_05_active.png");
}
/* line 49, _source/_template.scss */
header .social-group ul li a.ig-btn:hover {
  background-image: url("../images/header/social_05.png");
}
/* line 57, _source/_template.scss */
header .nav-group {
  background-color: #e1e3e4;
}
/* line 59, _source/_template.scss */
header .nav-group nav.navbar {
  margin-bottom: 0;
  background: none;
  border: none;
}
/* line 63, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse {
  padding: 0;
}
/* line 65, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul {
  float: right;
  margin: 0;
  padding: 0;
}
/* line 69, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li {
  display: block;
  float: left;
  border-right: 1px solid #cccccc;
}
/* line 74, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li.shareexperience ul {
  min-width: 153px;
}
/* line 79, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li.mediainformation ul {
  min-width: 168px;
}
/* line 84, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li.contactus ul {
  min-width: 112px;
}
/* line 88, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li.last {
  border-right: none;
}
/* line 91, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li a {
  text-decoration: none;
  padding: 14px;
  color: #000000;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}
/* line 98, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li a:hover {
  background-color: #dccced;
}
/* line 101, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li a.active {
  font-weight: bold;
}
/* line 105, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li ul.dropdown-menu {
  margin: 0;
}
/* line 107, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li ul.dropdown-menu li {
  float: none;
  border: none;
}
/* line 110, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li ul.dropdown-menu li a {
  height: auto;
  padding: 7px 14px;
  width: 100%;
  display: block;
  background-color: #3f216a;
  color: #fff;
  font-size: 0.875em;
}
/* line 118, _source/_template.scss */
header .nav-group nav.navbar .navbar-collapse ul li ul.dropdown-menu li a:hover, header .nav-group nav.navbar .navbar-collapse ul li ul.dropdown-menu li a.active {
  background-color: #230d44;
  color: #fff;
}

/* line 132, _source/_template.scss */
footer .footer-sitemap {
  padding: 15px 0;
  background-color: #230a44;
}
/* line 135, _source/_template.scss */
footer .footer-sitemap .logo {
  display: block;
  padding: 10px 0;
}
/* line 139, _source/_template.scss */
footer .footer-sitemap ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 143, _source/_template.scss */
footer .footer-sitemap ul li {
  display: block;
  float: left;
  padding: 5px;
  font-size: 0.875em;
}
/* line 148, _source/_template.scss */
footer .footer-sitemap ul li a {
  color: #fff;
  font-weight: bold;
}
/* line 154, _source/_template.scss */
footer .footer-sitemap .copyright {
  padding: 5px;
  font-size: 0.75em;
  color: #fefefe;
}
/* line 158, _source/_template.scss */
footer .footer-sitemap .copyright a {
  color: #c6178c;
  text-decoration: none;
}

/* line 167, _source/_template.scss */
.footer-special {
  position: fixed;
  width: 100%;
  bottom: 3px;
}
/* line 171, _source/_template.scss */
.footer-special > div {
  background-color: #c6178c;
  position: absolute;
  bottom: 0;
}
/* line 176, _source/_template.scss */
.footer-special .btn-open-footer {
  margin-top: -44px;
}
/* line 178, _source/_template.scss */
.footer-special .btn-open-footer.active img {
  /* Safari */
  -webkit-transform: rotate(-180deg);
  /* Firefox */
  -moz-transform: rotate(-180deg);
  /* IE */
  -ms-transform: rotate(-180deg);
  /* Opera */
  -o-transform: rotate(-180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
/* line 195, _source/_template.scss */
.footer-special .footer-special-inner {
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 198, _source/_template.scss */
.footer-special .footer-special-inner > div {
  height: 74px;
}
/* line 201, _source/_template.scss */
.footer-special .footer-special-inner .print {
  position: relative;
}
/* line 203, _source/_template.scss */
.footer-special .footer-special-inner .print > span {
  position: absolute;
  top: 50%;
  height: 64px;
  margin-top: -32px;
  left: 50%;
  margin-left: -50.5px;
}
/* line 207, _source/_template.scss */
.footer-special .footer-special-inner .print > span img.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 213, _source/_template.scss */
.footer-special .footer-special-inner .share {
  position: relative;
  border-left: 1px solid #fff;
}
/* line 216, _source/_template.scss */
.footer-special .footer-special-inner .share > span {
  position: absolute;
  top: 50%;
  height: 38px;
  margin-top: -19px;
  left: 50%;
  margin-left: -64px;
}
/* line 222, _source/_template.scss */
.footer-special .footer-special-inner .totop {
  position: relative;
}
/* line 224, _source/_template.scss */
.footer-special .footer-special-inner .totop > span {
  position: absolute;
  top: 50%;
  height: 58px;
  margin-top: -29px;
  left: 50%;
  margin-left: -18px;
}
/* line 230, _source/_template.scss */
.footer-special .footer-special-inner .bx-wrapper .bx-prev {
  background-image: url("../images/footer/slider/arrow-left.png");
  background-position: 0 0;
  left: -32px;
}
/* line 235, _source/_template.scss */
.footer-special .footer-special-inner .bx-wrapper .bx-next {
  background-image: url("../images/footer/slider/arrow-right.png");
  background-position: 0 0;
  right: -22px;
}

@media (max-width: 991px) {
  /* line 246, _source/_template.scss */
  header .nav-group .logo {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
  }
  /* line 256, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li.shareexperience ul {
    min-width: 144px;
  }
  /* line 261, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li.mediainformation ul {
    min-width: 161px;
  }
  /* line 266, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li.contactus ul {
    min-width: 104px;
  }
  /* line 270, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li a {
    padding: 14px 10px;
    height: 70px;
  }

  /* line 282, _source/_template.scss */
  .footer-special .footer-special-inner .share > span {
    margin-left: -41px;
  }
}
@media (max-width: 767px) {
  /* line 289, _source/_template.scss */
  header .nav-group nav.navbar {
    background: none;
    border: none;
  }
  /* line 292, _source/_template.scss */
  header .nav-group nav.navbar .navbar-header {
    position: relative;
  }
  /* line 294, _source/_template.scss */
  header .nav-group nav.navbar .navbar-header .navbar-toggle {
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -17px;
    right: 0;
  }
  /* line 302, _source/_template.scss */
  header .nav-group nav.navbar .navbar-brand {
    padding: 0;
    height: auto;
  }
  /* line 307, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul {
    float: none;
    margin-bottom: 15px;
  }
  /* line 310, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li {
    float: none;
    border-right: 0;
  }
  /* line 313, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li a {
    height: auto;
    width: 100%;
    display: block;
  }
  /* line 317, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li a span {
    float: right;
  }
  /* line 322, _source/_template.scss */
  header .nav-group nav.navbar .navbar-collapse ul li.open a {
    background-color: #dccced;
  }

  /* line 330, _source/_template.scss */
  .footer-special .footer-special-inner .share {
    border-left: none;
  }
}
@media (max-width: 359px) {
  /* line 335, _source/_template.scss */
  header .social-group ul li a {
    height: 40px;
    width: 40px;
  }
}
/* line 1, _source/_home.scss */
.home-content {
  background-image: url("../images/home/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 65px;
}
/* line 8, _source/_home.scss */
.home-content .row .col-xs-1, .home-content .row .col-sm-1, .home-content .row .col-md-1, .home-content .row .col-lg-1, .home-content .row .col-xs-2, .home-content .row .col-sm-2, .home-content .row .col-md-2, .home-content .row .col-lg-2, .home-content .row .col-xs-3, .home-content .row .col-sm-3, .home-content .row .col-md-3, .home-content .row .col-lg-3, .home-content .row .col-xs-4, .home-content .row .col-sm-4, .home-content .row .col-md-4, .home-content .row .col-lg-4, .home-content .row .col-xs-5, .home-content .row .col-sm-5, .home-content .row .col-md-5, .home-content .row .col-lg-5, .home-content .row .col-xs-6, .home-content .row .col-sm-6, .home-content .row .col-md-6, .home-content .row .col-lg-6, .home-content .row .col-xs-7, .home-content .row .col-sm-7, .home-content .row .col-md-7, .home-content .row .col-lg-7, .home-content .row .col-xs-8, .home-content .row .col-sm-8, .home-content .row .col-md-8, .home-content .row .col-lg-8, .home-content .row .col-xs-9, .home-content .row .col-sm-9, .home-content .row .col-md-9, .home-content .row .col-lg-9, .home-content .row .col-xs-10, .home-content .row .col-sm-10, .home-content .row .col-md-10, .home-content .row .col-lg-10, .home-content .row .col-xs-11, .home-content .row .col-sm-11, .home-content .row .col-md-11, .home-content .row .col-lg-11, .home-content .row .col-xs-12, .home-content .row .col-sm-12, .home-content .row .col-md-12, .home-content .row .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
/* line 13, _source/_home.scss */
.home-content .row .box-content {
  position: relative;
}
/* line 15, _source/_home.scss */
.home-content .row .box-content .top {
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  top: 0;
  position: absolute;
  height: 40px;
}
/* line 20, _source/_home.scss */
.home-content .row .box-content .top .category {
  float: left;
  font-size: 1.125em;
  margin: 10px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
/* line 27, _source/_home.scss */
.home-content .row .box-content .top .tag {
  color: #3d1d68;
  background-color: #f4d90e;
  font-size: 0.75em;
  padding: 5px 10px;
  margin: 10px;
  float: right;
}
/* line 34, _source/_home.scss */
.home-content .row .box-content .top .tag.hightlight {
  color: #fff;
  background-color: #c71688;
}
/* line 40, _source/_home.scss */
.home-content .row .box-content .bottom {
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  bottom: 0;
  position: absolute;
  height: 85px;
  background-color: rgba(35, 31, 32, 0.7);
}
/* line 46, _source/_home.scss */
.home-content .row .box-content .bottom h1 {
  font-size: 1.25em;
  color: #fff;
  margin: 10px 20px 5px;
}
/* line 51, _source/_home.scss */
.home-content .row .box-content .bottom h3 {
  font-size: 0.875em;
  color: #c59aef;
  margin: 5px 20px;
}
/* line 56, _source/_home.scss */
.home-content .row .box-content .bottom a.readmore {
  font-size: 0.875em;
  color: #c71688;
  font-style: italic;
  margin: 5px 20px;
}
/* line 63, _source/_home.scss */
.home-content .row .box-content .right {
  width: 33%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
/* line 70, _source/_home.scss */
.home-content .row .box-content .right .tag {
  float: left;
  color: #fff;
  background-color: #c71688;
  font-size: 0.75em;
  padding: 5px 10px;
  margin: 10px 20px;
}
/* line 78, _source/_home.scss */
.home-content .row .box-content .right h1 {
  font-size: 1.25em;
  color: #f4d90d;
  margin: 10px 20px 5px;
}
/* line 83, _source/_home.scss */
.home-content .row .box-content .right h3 {
  font-size: 0.875em;
  color: #c59aef;
  margin: 5px 20px;
}
/* line 88, _source/_home.scss */
.home-content .row .box-content .right p {
  font-size: 0.875em;
  margin: 5px 20px;
  color: #fff;
}
/* line 92, _source/_home.scss */
.home-content .row .box-content .right p a.readmore {
  color: #c71688;
  font-style: italic;
}

/* line 102, _source/_home.scss */
.footer-content {
  background-image: url("../images/footer/bg.jpg");
  background-position: center;
}
/* line 105, _source/_home.scss */
.footer-content p {
  margin: 0;
}

@media (max-width: 1199px) {
  /* line 113, _source/_home.scss */
  .home-content .row .box-content h1 {
    font-size: 1em;
  }
  /* line 118, _source/_home.scss */
  .home-content .row .box-content .bottom h1 {
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  /* line 130, _source/_home.scss */
  .home-content .row .box-content .right {
    width: calc(100% - 10px);
    height: auto;
    bottom: 0;
    top: inherit;
    right: inherit;
    background-color: rgba(35, 31, 32, 0.7);
  }
}
@media (max-width: 479px) {
  /* line 144, _source/_home.scss */
  .home-content .row .box-content .top .category {
    font-size: 0.85em;
  }
  /* line 147, _source/_home.scss */
  .home-content .row .box-content .bottom {
    height: 60px;
  }
  /* line 149, _source/_home.scss */
  .home-content .row .box-content .bottom h1 {
    font-size: 0.85em;
  }
  /* line 152, _source/_home.scss */
  .home-content .row .box-content .bottom h3 {
    display: none;
  }
  /* line 155, _source/_home.scss */
  .home-content .row .box-content .bottom p {
    font-size: 0.75em;
  }
}
/* line 1, _source/_share.scss */
.shareexperience-content {
  background-image: url("../images/share/bg-1.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
/* line 7, _source/_share.scss */
.shareexperience-content h1 {
  color: #fff;
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
}
/* line 12, _source/_share.scss */
.shareexperience-content .list-group > div {
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
  padding: 0;
  position: relative;
}
/* line 16, _source/_share.scss */
.shareexperience-content .list-group > div > img {
  width: 100%;
}
/* line 19, _source/_share.scss */
.shareexperience-content .list-group > div > .mask {
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
/* line 28, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content {
  position: absolute;
  margin-top: 140px;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  color: #fff;
}
/* line 35, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content p {
  line-height: 1em;
  margin: 0;
}
/* line 39, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content .country {
  font-size: 2.375em;
}
/* line 42, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content .province {
  font-size: 1.75em;
  line-height: 1em;
}
/* line 46, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content .number {
  margin-top: 16px;
  font-size: 5.625em;
  line-height: 1em;
}
/* line 51, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content .review {
  font-size: 0.825em;
  line-height: 1em;
  margin-top: -1em;
}
/* line 56, _source/_share.scss */
.shareexperience-content .list-group > div > .list-content a.readmore {
  margin-top: 45px;
  font-size: 1em;
  line-height: 1em;
  color: #fff;
  display: block;
}

/* line 67, _source/_share.scss */
.shareexperience-cover {
  height: 150px;
}
/* line 69, _source/_share.scss */
.shareexperience-cover h1 {
  font-family: "Ocean Sans Std";
  font-weight: bold;
  color: #fff;
  margin: 0;
  margin-top: 40px;
}
/* line 76, _source/_share.scss */
.shareexperience-cover h2 {
  font-family: "Ocean Sans Std";
  color: #fff;
  margin: 0;
}

/* line 82, _source/_share.scss */
.shareexperience-lists {
  font-family: "Myriad Pro";
}
/* line 84, _source/_share.scss */
.shareexperience-lists .header-group {
  text-align: center;
  font-family: "Ocean Sans Std";
}
/* line 88, _source/_share.scss */
.shareexperience-lists .lists {
  margin-bottom: 30px;
}
/* line 90, _source/_share.scss */
.shareexperience-lists .lists .thumb {
  width: 100%;
  height: 195px;
  border: 1px solid #dcdcdc;
  border-bottom: 0;
}
/* line 96, _source/_share.scss */
.shareexperience-lists .lists .author {
  border: 1px solid #dcdcdc;
  border-top: 0;
  border-bottom: 0;
  background: #e4e4e4;
  height: 50px;
  line-height: 50px;
  font-size: 1.125em;
  padding: 0 20px;
}
/* line 105, _source/_share.scss */
.shareexperience-lists .lists .author .thumb {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  position: relative;
  margin-top: -50px;
  margin-right: 10px;
}
/* line 113, _source/_share.scss */
.shareexperience-lists .lists .author .date {
  float: right;
  font-size: 0.875em;
}
/* line 118, _source/_share.scss */
.shareexperience-lists .lists .intro {
  border: 1px solid #dcdcdc;
  border-top: 0;
  padding: 10px 20px;
}
/* line 122, _source/_share.scss */
.shareexperience-lists .lists .intro h3, .shareexperience-lists .lists .intro p {
  font-weight: normal;
  margin: 0;
}
/* line 126, _source/_share.scss */
.shareexperience-lists .lists .intro h3 {
  font-size: 1.25em;
  margin-bottom: 5px;
}

/* line 133, _source/_share.scss */
.shareexperience-detail {
  background-color: #efefef;
  font-family: "Myriad Pro";
}
/* line 136, _source/_share.scss */
.shareexperience-detail .author-panel {
  background: #fff;
  margin-top: 70px;
  padding-bottom: 10px;
}
/* line 141, _source/_share.scss */
.shareexperience-detail .author-panel .author .thumb {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  position: relative;
  margin-top: -35px;
  margin-right: 10px;
}
/* line 149, _source/_share.scss */
.shareexperience-detail .author-panel .author sub.edit {
  position: relative;
  top: -20px;
  margin-left: 90px;
  bottom: inherit;
}
/* line 157, _source/_share.scss */
.shareexperience-detail .author-panel .intro h3 {
  color: #070707;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}
/* line 163, _source/_share.scss */
.shareexperience-detail .author-panel .intro p {
  color: #373737;
  font-size: 1em;
  margin: 0;
}
/* line 171, _source/_share.scss */
.shareexperience-detail .article h1 {
  font-size: 1.625em;
  font-weight: normal;
  margin: 40px 0 20px;
}
/* line 176, _source/_share.scss */
.shareexperience-detail .article .focuspoint {
  height: 555px;
}
/* line 179, _source/_share.scss */
.shareexperience-detail .article p {
  text-align: center;
  margin: 20px 0 40px;
}

@media (max-width: 991px) and (min-width: 768px) {
  /* line 186, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content {
    margin-top: 70px;
  }
}
@media (max-width: 1199px) {
  /* line 193, _source/_share.scss */
  .shareexperience-detail .article .focuspoint {
    height: 455px;
  }
}
@media (max-width: 991px) {
  /* line 202, _source/_share.scss */
  .shareexperience-detail .article .focuspoint {
    height: 345px;
  }
}
@media (max-width: 767px) {
  /* line 212, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 216, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content .country {
    font-size: 1.5em;
  }
  /* line 219, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content .province {
    font-size: 1em;
    line-height: 1em;
  }
  /* line 223, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content .number {
    margin-top: 16px;
    font-size: 5em;
    line-height: 1em;
  }
  /* line 228, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content .review {
    font-size: 0.825em;
    line-height: 1em;
    margin-top: -1em;
  }
  /* line 233, _source/_share.scss */
  .shareexperience-content .list-group > div > .list-content a.readmore {
    margin-top: 45px;
    font-size: 0.75em;
    line-height: 1em;
  }

  /* line 244, _source/_share.scss */
  .shareexperience-detail .article .focuspoint {
    height: 250px;
  }
}
@media (max-width: 479px) {
  /* line 253, _source/_share.scss */
  .shareexperience-content .list-group > div.col-xs-3 {
    width: 50%;
  }

  /* line 260, _source/_share.scss */
  .shareexperience-detail .article .focuspoint {
    margin-bottom: 20px;
  }
}
/* line 1, _source/_beforeyourfly.scss */
.beforeyourfly-content {
  background-image: url("../images/before/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}
/* line 7, _source/_beforeyourfly.scss */
.beforeyourfly-content h1 {
  color: #fff;
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
}
/* line 11, _source/_beforeyourfly.scss */
.beforeyourfly-content .form-dropdown {
  margin-top: 45px;
  margin-bottom: 40px;
}
/* line 16, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group {
  margin-bottom: 15px;
  position: relative;
}
/* line 19, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .focuspoint {
  height: 200px;
}
/* line 22, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .title {
  color: #fff;
  font-size: 1.125em;
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  top: 0;
  padding: 5px 15px;
}
/* line 30, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption {
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  bottom: 0;
  position: absolute;
  padding: 15px;
}
/* line 35, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption p {
  color: #fff;
  margin: 0;
}
/* line 38, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption p.topic {
  font-size: 1.125em;
}
/* line 40, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption p.topic a {
  text-decoration: none;
  color: #fff;
}
/* line 45, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption p.date {
  font-size: 0.75em;
  font-style: italic;
}
/* line 48, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption p.date a {
  text-decoration: none;
  color: #fff;
}
/* line 54, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption.general {
  background: #653796;
  /* The Fallback */
  /*background: rgba(101, 55, 150, 1); */
}
/* line 58, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption.travel {
  background: #ffc42f;
  /* The Fallback */
  /*background: rgba(255, 196, 47, 1); */
}
/* line 62, _source/_beforeyourfly.scss */
.beforeyourfly-content .before-list .before-group .caption.special {
  background: #c4218b;
  /* The Fallback */
  /*background: rgba(196 , 33 , 139 , 1); */
}

/* line 71, _source/_beforeyourfly.scss */
.beforeyourfly-breadcrumb {
  margin: 20px 0 40px;
  padding: 10px 0;
}
/* line 74, _source/_beforeyourfly.scss */
.beforeyourfly-breadcrumb a.back {
  padding: 10px;
  background-color: #dddddd;
  color: #d50581;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(153, 153, 153, 0.5);
  box-shadow: inset 0px 0px 5px 1px rgba(153, 153, 153, 0.5);
  text-decoration: none;
}
/* line 83, _source/_beforeyourfly.scss */
.beforeyourfly-breadcrumb span {
  padding: 10px;
}

/* line 87, _source/_beforeyourfly.scss */
.beforeyourfly-cover {
  height: 150px;
}

/* line 92, _source/_beforeyourfly.scss */
.beforeyourfly-detail .article h1, .beforeyourfly-detail .article h2 {
  margin: 0;
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
}
/* line 96, _source/_beforeyourfly.scss */
.beforeyourfly-detail .article h1 {
  font-size: 2.5em;
}
/* line 99, _source/_beforeyourfly.scss */
.beforeyourfly-detail .article h2 {
  font-size: 1.375em;
  color: #653796;
}
/* line 103, _source/_beforeyourfly.scss */
.beforeyourfly-detail .article section {
  margin: 40px 0;
}
/* line 105, _source/_beforeyourfly.scss */
.beforeyourfly-detail .article section .pull-left {
  margin-right: 40px;
  margin-bottom: 40px;
}
/* line 109, _source/_beforeyourfly.scss */
.beforeyourfly-detail .article section .pull-right {
  margin-left: 40px;
  margin-bottom: 40px;
}

@media (max-width: 991px) and (min-width: 768px) {
  /* line 122, _source/_beforeyourfly.scss */
  .beforeyourfly-content .before-list .before-group .caption p.topic {
    font-size: 1em;
  }
}
@media (max-width: 479px) {
  /* line 132, _source/_beforeyourfly.scss */
  .col-xs-6 {
    width: 100%;
  }
}
/* line 1, _source/_media.scss */
.entertainment-content {
  padding: 30px 0;
}
/* line 3, _source/_media.scss */
.entertainment-content h1 {
  color: #bf0278;
  font-size: 34px;
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
}

/* line 10, _source/_media.scss */
.sawasdee-content .royal, .sawasdee-content .fortnightly {
  padding: 0;
  padding-top: 20px;
  background-image: url("../images/media/sawasdee/royal-bg.jpg");
  background-size: cover;
  background-position: center;
}
/* line 16, _source/_media.scss */
.sawasdee-content .royal .royal-book, .sawasdee-content .fortnightly .royal-book {
  margin-top: 30px;
  background-image: url("../images/media/sawasdee/shelf.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 65px;
}
/* line 24, _source/_media.scss */
.sawasdee-content .fortnightly {
  background-image: url("../images/media/sawasdee/bg.jpg");
}
/* line 26, _source/_media.scss */
.sawasdee-content .fortnightly .fortnightly-book {
  margin-top: 30px;
  background-image: url("../images/media/sawasdee/shelf.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 68px;
}
/* line 34, _source/_media.scss */
.sawasdee-content h1 {
  color: #663398;
  font-size: 34px;
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
  font-weight: bold;
}

@media (max-width: 767px) {
  /* line 45, _source/_media.scss */
  .sawasdee-content .royal .royal-book {
    background-image: none;
    padding-bottom: 0;
    margin-top: 0;
  }
  /* line 49, _source/_media.scss */
  .sawasdee-content .royal .royal-book .book {
    margin-bottom: 20px;
  }
  /* line 55, _source/_media.scss */
  .sawasdee-content .fortnightly .fortnightly-book {
    background-image: none;
    padding-bottom: 0;
    margin-top: 0;
  }
  /* line 59, _source/_media.scss */
  .sawasdee-content .fortnightly .fortnightly-book .book {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 69, _source/_media.scss */
  .sawasdee-content .royal .royal-book {
    background-image: url("../images/media/sawasdee/shelf-750.png");
  }
  /* line 74, _source/_media.scss */
  .sawasdee-content .fortnightly .fortnightly-book {
    background-image: url("../images/media/sawasdee/shelf-750.png");
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 83, _source/_media.scss */
  .sawasdee-content .royal .royal-book {
    background-image: url("../images/media/sawasdee/shelf-970.png");
  }
  /* line 88, _source/_media.scss */
  .sawasdee-content .fortnightly .fortnightly-book {
    background-image: url("../images/media/sawasdee/shelf-970.png");
  }
}
/* line 1, _source/_contactus.scss */
.socialteam-breadcrumb {
  margin: 20px 0 40px;
  padding: 10px 0;
}
/* line 4, _source/_contactus.scss */
.socialteam-breadcrumb a.back {
  padding: 10px;
  background-color: #dddddd;
  color: #d50581;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(153, 153, 153, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(153, 153, 153, 0.5);
  box-shadow: inset 0px 0px 5px 1px rgba(153, 153, 153, 0.5);
  text-decoration: none;
}
/* line 13, _source/_contactus.scss */
.socialteam-breadcrumb span {
  padding: 10px;
}

/* line 19, _source/_contactus.scss */
.socialteam-detail .article h1, .socialteam-detail .article h2 {
  margin: 0;
  font-family: "Ocean Sans Std",ocean_sans_stdbook;
}
/* line 23, _source/_contactus.scss */
.socialteam-detail .article h1 {
  font-size: 2.5em;
}
/* line 26, _source/_contactus.scss */
.socialteam-detail .article h2 {
  font-size: 1.375em;
  color: #653796;
}

/* line 32, _source/_contactus.scss */
#canvas-page {
  margin: 0 -15px;
}
